.spacing-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1rem;
}

.spacing-sample {
    background: #e1e1e1;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    position: relative;
}

.spacing-label {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0.2rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.75rem;
}
